<ng-container *ngIf="collectionData.length">
  <div class="structure" *ngFor="let item of collectionData; let index = index">
    <div class="content">
      <div
        class="file-folder-selection"
        *ngIf="item.showOptions; else displayContent"
      >
        <ng-container *ngIf="item.type; else displayOptions">
          <app-file-folder-input
            [inputType]="item.type"
            (onSubmitEvent)="onUserSubmittedForm($event, parent, item)"
            (onCancelEvent)="onFormCancelled(parent)"
          ></app-file-folder-input>
        </ng-container>

        <ng-template #displayOptions>
          <div class="options">
            <div class="icon-with-tooltip">
              <img
                src="assets/folder-icon.png"
                class="file-folder-selection-icons-size folder"
                (click)="item.type = folderType"
                alt="Folder Icon"
              />
              <span class="file-folder-tooltip folder-tooltip">Add Folder</span>
            </div>
            <div class="icon-with-tooltip">
              <img
                class="file-folder-selection-icons-size file"
                src="assets/file-icon.png"
                (click)="item.type = fileType"
                alt="File Icon"
              />
              <span class="file-folder-tooltip file-tooltip">Add File</span>
            </div>
          </div>
        </ng-template>
      </div>
      <ng-template #displayContent>
        <img
          *ngIf="item.type === folderType; else displayFileIcon"
          src="assets/folder-icon.png"
          alt="folder-icon"
        />
        <ng-template #displayFileIcon>
          <img src="assets/file-icon.png" alt="file-icon" />
        </ng-template>

        <p>
          {{ item.value || "Loading..." }}
          <span class="actions">
            <button
              class="folder-dark"
              (click)="onAddChild(item)"
              *ngIf="item.type === folderType"
            >
              +
            </button>
            <button
              [ngClass]="
                item.type === folderType ? 'folder-light' : 'file-dark'
              "
              (click)="onRemove(item?._id)"
            >
              -
            </button>
          </span>
        </p>
      </ng-template>
    </div>

    <app-collection
      *ngIf="item.children && item?.children?.length"
      [collectionData]="item.children"
      [parent]="item"
      class="children"
    ></app-collection>
  </div>
</ng-container>
