.trace-lines {
  display: flex;
  position: relative;
  height: 20px;
  width: fit-content;
}

.structure {
  position: relative;
  display: flex;
  left: 5px;

  &::before {
    content: "";
    background-image: url("/assets/vertical-line-svgrepo-com.svg");
    height: 41px;
    width: 2px;
    background-color: black;
  }

  .content {
    position: absolute;
    top: 28px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 28px;
    width: 310px;

    .file-folder-selection {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &::before {
      content: "";
      background-image: url("/assets/horizontal-line-svgrepo-com.svg");
      height: 2px;
      width: 16px;
      background-color: black;
    }
    img {
      height: inherit;
    }

    p {
      display: flex;
      align-items: center;
      gap: 5px;
      .actions {
        display: none;
      }

      &:hover .actions {
        display: block;
        display: flex;
        gap: 4px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          font-size: 18px;

          &.folder-dark {
            color: white;
            background-color: #0277bd;
            border: 1px solid white;
          }

          &.folder-light {
            color: #0277bd;
            background-color: white;
            border: 1px solid #0277bd;
          }

          &.file-dark {
            color: white;
            background-color: #2c7ad4;
            border: 1px solid white;
          }
        }
      }
    }

    .child-info {
      height: 100%;
      display: flex;
      align-items: center;

      .child-info-content {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          padding: 2px;
        }

        .folder,
        .file {
          position: relative;
          span {
            position: absolute;
            bottom: 21px;
            left: 14px;
            width: 15px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            border-radius: 50%;
            background-color: #0277bd;
            color: white;
          }
        }
      }
    }

    .show-hide-child-icon {
      height: 15px;
      width: 15px;
    }

    .options {
      display: flex;
      gap: 8px;
    }
  }

  .children {
    margin-left: 25px;
    margin-top: 50px;
  }

  .file-folder-selection-icons-size {
    width: 24px;
    height: 24px;
    padding: 2px;
  }

  .icon-with-tooltip {
    position: relative;
    img {
      border-radius: 2px;
      transition: all ease 0.2s;

      &:hover {
        border: 1px solid #2c7ad4;
        border-radius: 4px;

        &.back {
          border: none;
        }

        ~ span {
          display: block;
          position: absolute;
          z-index: 2;
          bottom: -34px;
          left: 15px;
          font-size: 13px;
          padding: 4px;
          width: fit-content;
          border: 1px solid #c4d8ee;
          border-radius: 4px;
          background: rgb(4, 68, 133);
          color: #c4d8ee;
        }
      }
    }

    span {
      display: none;
    }
  }
}
