<form [formGroup]="createFolderFileForm" (ngSubmit)="onSubmit()">
  <img
    src="assets/folder-icon.png"
    *ngIf="inputType === folderType; else displayFileImage"
    alt="folder icon"
  />
  <ng-template #displayFileImage>
    <img src="assets/file-icon.png" alt="File Image" />
  </ng-template>

  <div class="form-input">
    <input
      type="text"
      placeholder="Enter {{ inputType }} Name..."
      formControlName="name"
    />
    <p
      *ngIf="
        (createFolderFileForm.get('name')?.touched ||
          createFolderFileForm.get('name')?.dirty) &&
        createFolderFileForm.get('name')?.invalid
      "
    >
      {{ inputType }} name is required
    </p>
    <p *ngIf="duplicateNameError">{{ inputType }} name already exist!</p>
  </div>
  <button type="submit" class="create-btn">✔</button>
  <button type="button" class="cancel-btn" (click)="onCancel()">✖</button>
</form>
