form {
  display: flex;
  gap: 7px;
  align-items: flex-start;
  border: 1px solid black;
  width: fit-content;
  padding: 8px;
  background-color: white;
  opacity: 0.89;
  z-index: 1;

  img {
    width: 20px;
    height: 20px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    gap: 3px;

    input {
      padding: 3px;
    }

    p {
      color: red;
      font-size: small;
      margin: 0;
    }
  }

  button {
    padding: 1px 3px;
    font-size: 14px;

    &.create-btn {
      color: white;
      background-color: #0277bd;
      border: 1px solid white;
    }

    &.cancel-btn {
      color: #0277bd;
      background-color: white;
      border: 1px solid #0277bd;
    }
  }
}
