.app-container {
  width: 98%;
  margin: 8px auto;
  h1 {
    padding: 9px;
    text-align: center;
    word-spacing: 6px;
    letter-spacing: 0px;
    font-size: 1.9rem;
    color: white;
    background-color: black;
  }
}
