.trace-lines {
  display: flex;
  position: relative;
  height: 20px;
  width: fit-content;
}

.structure {
  position: relative;
  display: flex;
  margin-top: -1px;
  margin-left: 3px;

  &::before {
    content: "";
    background-image: url("../../assets/vertical-line-svgrepo-com.svg");
    height: 41px;
    width: 2px;
    background-color: black;
  }

  .content {
    position: absolute;
    top: 28px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 25px;
    width: 300px;

    &::before {
      content: "";
      background-image: url("../../assets/horizontal-line-svgrepo-com.svg");
      height: 2px;
      width: 16px;
      background-color: black;
    }
    img {
      height: inherit;
    }
    p {
      display: flex;
      gap: 5px;
      .actions {
        display: none;
      }

      &:hover .actions {
        display: block;
        display: flex;
        gap: 4px;

        button {
          padding: 0 3px;
          height: inherit;
        }
      }
    }
  }

  .children {
    margin-left: 25px;
    margin-top: 50px;
  }
}
