.add-root-folder-btn {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: small;
  margin-top: 23px;

  &:hover {
    cursor: pointer;
  }
}

form {
  position: absolute;
  top: 144px;
  display: flex;
  gap: 7px;
  align-items: flex-start;
  border: 1px solid black;
  width: fit-content;
  padding: 8px;
  background-color: white;

  img {
    width: 20px;
    height: 20px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    gap: 3px;

    input {
      padding: 3px;
    }

    p {
      color: red;
      font-size: small;
      margin: 0;
    }

    button {
      padding: 0 3px;
    }
  }
}

.structure {
  display: flex;
  gap: 4px;
  height: 20px;
  margin-top: 6px;

  &::before {
    content: "";
    background: url("../../assets/vertical-line.png");
    height: 41px;
    width: 1px;
    background-color: black;
  }

  img::before {
    content: "";
    background: url("../../assets/horizontal-line.png");
    height: 20px;
    width: 2px;
    color: black;
  }

  .actions {
    display: none;
  }

  p:hover + .actions {
    display: block;
    display: flex;
    gap: 4px;

    button {
      padding: 0 3px;
    }
  }
}
